.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    translate: -50%;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
@media (max-width: 770px) {
    .attribution{
        position: static;
        translate: none;
        margin-bottom: 1rem;
    }
}